.gradle/
.idea/
build/
app/build/
.cxx/
local.properties
captures/
.externalNativeBuild/
.cxx/
google-services.json
*.keystore

*.DS_Store
Thumbs.db
*.jks
*.keystore
key.properties
google-services.json
secrets.properties

*.log
*.tmp
*.wav
*.mp3

*.apk
*.ap_
*.dex

app/src/main/java/com/example/tts_app/data/remote/Source.kt
