.gradle/
.idea/
build/
app/build/
.cxx/
local.properties
captures/
.externalNativeBuild/
.cxx/

*.DS_Store
Thumbs.db
*.jks
*.keystore
key.properties
google-services.json
secrets.properties

*.log
*.tmp
*.wav
*.mp3

*.apk
*.ap_
*.dex